.contact {
    font-weight: $base-fw;
    font-size: 1.4rem;
    line-height: calc((50 / 35) * 100%);
    &__link {
        color: $main-color;
        transition: color 0.3s ease 0s;
        &:hover {
            color: $hover-color;
        }
    }
}

@media screen and (max-width: $bp2) {
    .contact {
        font-size: 1rem;
    }
}

@media screen and (max-width: $bp3) {
    .contact {
        font-size: .88rem;
    }
}