$bg-color: #F3F7EA;
$main-color: #FFF;
$primary-text-color: #000;
$secondary-text-color: #474747;
$hover-color: #FFA60D;
$base-fw: 300;
$big-heading-fw: 700;
$bp1: 1440px;
$bp2: 1024px;
$bp3: 768px;
$bp4: 550px;
$section-padding: 100px 0;
$section-padding-bp2: 80px 0;
$section-padding-bp3: 70px 0;
$section-padding-bp4: 60px 0;